.mat-toolbar {
  padding: 40px;
}

.nav-button {
  padding: 10px
}

a:link{
  color: #ffffff;
}

a:hover {
  color: #0dd;
  text-decoration: none;
}

svg {
  fill:#ffffff;
  color:#191c1c;
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
}

svg:hover {
  fill: #0dd;
}

.github-corner {

}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

button {
  margin: 30px 50px 30px 30px;
  padding: 10px;
  border-radius: 10px;
  border: 0;
  outline: none;
  width: 100px;
}

button:hover {
  background-color: #0dd;
}

p {
  font-size: 20px;
  margin: 0
}
