<div class="footer toolbar-flex">
  <div class="flex-spacer toolbar-flex" id="footer-spacer">
    <p>Made with </p>
    <a href="https://www.flaticon.com/free-icons/risk" title="risk icons">
      <img ngSrc="assets/risk.png" priority alt="Risk icons created by ultimatearm - Flaticon" height="32" width="32"
      style="margin-right: 5px; margin-left: 5px">
    </a>
    <p class="preserve-whitespace">by  </p>
    <a href="https://x.com/anshik_aj">
      <p>
        <b>Anshik Jain</b>
      </p>
    </a>
  </div>
</div>
